################################################
# ignore Rmd, stan and nb.html file           #
################################################
#exercises/*.Rmd
#exercises/*.R
exercises/*.stan
exercises/*.nb.html
exercises/*.tex
exercises/*.Rhistory
